 body {
            font-family: Arial;
            margin: 40px;
        }

        input {
            padding: 10px;
            width: 250px;
        }

        button {
            padding: 10px 15px;
            background: blue;
            color: white;
            border: none;
        }

        table {
            margin-top: 20px;
            border-collapse: collapse;
        }

        td, th {
            padding: 10px;
        }